<h1>Fake page</h1>
<form action="/api/fake" method="post" enctype="multipart/form-data">
    <input type="text" name="text" value="Fake text">
    <input type="file" name="file" required>
    <input type="submit">
</form>
<script>
    const send = async(body) => {
        await fetch("/api/fake", {
            method: "POST",
            body: body
        });
        console.log("body", body)
    };
    let form = document.forms[0];
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        let body = new FormData();
        body.append("text", form.text.value);
        body.append("file",form.file.files[0]);
        send(body);
    });
</script>