extends layout
block content
    .bg.indexImg
        img(src="/img/square.svg" alt="square")
        .cover
        .slogan
            h2 Your powerful task
            h2.left management solution