extends layout
block content
    .content
        h1 Регистрация
        form.userForm(action="/api/signUp" method="POST")
            //TODO: предусмотреть тип пользователя для работы с зада
            select(name="group")
                option Начальник
                option Сотрудник
            input(type="text" placeholder="login" name="login" required)
            input(type="text" placeholder="Name" name="name" required)
            input(type="email" placeholder="Email" name="email" required)
            input(type="password" id="passPrimary" placeholder="Password" name="password" required)
            input(type="password" id="passSecondary" placeholder="Repeat password" disabled)
            button(type="submit" disabled) Зарегистрироваться
    script.
        let passPrimary = document.getElementById("passPrimary");
        let passSecondary = document.getElementById("passSecondary");
        let btn = document.querySelector("[type=\"submit\"]");
        passPrimary.addEventListener("input", function () {
            if(this.value.length > 2) {
                passSecondary.disabled = false;
            } else {
                passSecondary.disabled = true;
            }
        });
        passSecondary.addEventListener("input", function () {
            if(this.value === passPrimary.value) {
                btn.disabled = false;
            } else {
                btn.disabled = true;
            }
        });
    script(src="js/reg.js")
