add_font("Montserrat", "Montserrat/Montserrat_Thin.ttf", 100)
add_font("Montserrat", "Montserrat/Montserrat_ExtraLight.ttf", 200)
add_font("Montserrat", "Montserrat/Montserrat_Light.ttf", 300)
add_font("Montserrat", "Montserrat/Montserrat_Regular.ttf", 400)
add_font("Montserrat", "Montserrat/Montserrat_SemiBold.ttf", 600)
add_font("Montserrat", "Montserrat/Montserrat_SemiBold.ttf", 600)
add_font("Montserrat", "Montserrat/Montserrat_Bold.ttf", 700)
add_font("Montserrat", "Montserrat/Montserrat_ExtraBold.ttf", 800)
add_font("Montserrat", "Montserrat/Montserrat_Black.ttf", 900)



add_font("Fredoka_One", "Fredoka_One/FredokaOne-Regular.ttf", 400)