add_font(name, path, w, s="normal")
  @font-face
    font-family name
    src url("../fonds/" + path) format("TrueType")
    font-weight w
    font-style s
f_menu(s=30px, w=400)
  font-family "Fredoka_One"
  font-weight w
  font-size s
f_headers(s=40px, w=900)
  font-family "Montserrat", sans-serif
  font-weight w
  font-size s
f_h2(s=50px, w=400)
  font-family "Coral waves", cursive
  font-weight w
  font-size s
f_h3(s=40px, w=400)
  font-family "Coral waves", cursive
  font-weight w
  font-size s
f_text(s=19px, w=100)
  font-family "Montserrat", sans-serif
  font-weight w
  font-size s