@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_Thin.ttf") format("TrueType");
  font-weight: 100;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_ExtraLight.ttf") format("TrueType");
  font-weight: 200;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_ExtraBold.ttf") format("TrueType");
  font-weight: 800;
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonds/Montserrat/Montserrat_Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: "normal";
}
@font-face {
  font-family: "Fredoka_One";
  src: url("../fonds/Fredoka_One/FredokaOne-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: "normal";
}
* {
  margin: 0;
  padding: 0;
}
.body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  font-family: "Fredoka_One";
  font-weight: 400;
  font-size: 30px;
  padding: 0 50px 0 50px;
}
.header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .logo .logo__img {
  width: 70px;
}
.header .logo .logo__fredoka {
  width: 150px;
  margin-left: 20px;
}
.userBlock {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.userBlock .userBlock__link_log,
.userBlock .userBlock__link_sign {
  text-decoration: none;
}
.container {
  position: relative;
  min-height: calc(100vh - 100px);
  overflow-x: hidden;
  top: 100px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: rgba(0,0,0,0.333);
}
.footer .footer__text {
  font-size: 34px;
  color: #fff;
  margin-right: 100px;
}
.indexImg {
  background-image: url("/img/main.jpg");
  z-index: -1;
  position: absolute;
  min-height: calc(100vh - 100px);
}
.table {
  background-image: url("/img/table.png");
  z-index: -1;
  position: fixed;
  min-height: calc(100vh);
}
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}
.bg img {
  display: block;
  margin-right: 500px;
}
.bg .slogan {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  top: 37vh;
  left: 35vw;
  color: #fff;
  height: 200px;
  overflow: hidden;
}
.bg .slogan .left {
  margin-left: 100px;
}
.cover {
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  z-index: -4;
}
.userForm {
  display: flex;
  flex-direction: column;
}
.userForm input {
  width: 300px;
}
.userForm button {
  width: 300px;
}
.task-container {
  display: grid;
  grid-template-columns: calc(55% - 60px) 15% 10% 20%;
  grid-column-gap: 20px;
  grid-template-rows: 40px;
  margin-bottom: 20px;
  align-items: center;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 19px;
}
.task-container * {
  padding: 5px 0;
}
.task-container__chbox {
  display: none;
}
.task-container__text {
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}
.task-container__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
}
.task-container__chbox:checked + .task-container__text::before {
  content: "✓";
  font-family: "Coral waves", cursive;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.content {
  padding-top: 350px;
}
.tasks {
  width: 800px;
  margin: auto;
  min-height: 1200px;
  background-image: url("/img/note.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
  padding: 200px 50px 0px 130px;
}
.tasks_h2 {
  font-family: "Coral waves", cursive;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.tasks_h3 {
  font-family: "Coral waves", cursive;
  font-weight: 400;
  font-size: 40px;
}
.peopleList {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 19px;
}
.peopleList li {
  list-style-type: square;
  padding-left: 30px;
  margin-bottom: 10px;
  list-style-position: inside;
}
.profMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.profMenu .profMenu__but {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 19px;
  color: #000;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}
.taskList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.taskList .taskCard {
  width: 300px;
  height: 300px;
  margin: 0 50px 50px 0;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/sticker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.taskList .taskCard .rowCard {
  margin: 10px 0 10px 0;
}
.taskList .taskCard button {
  border: 2px solid #fff;
  padding: 5px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 10px;
}
.wrapper {
  min-height: 100vh;
  width: 1200px;
  margin: 100px auto;
}
.wrapper a {
  font-family: "Fredoka_One";
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
}
