.formWrapper
  width 100%
  height 100%
  position relative
.add_header
  margin 0 auto
  text-align center
  font 30px sans-serif
form
  margin 0 auto
.logCont
  width 1000px
  height calc(100vh - 150px)
  background-image url("/img/bg/login.png")
  background-position center
  background-size contain
  flex-grow 0
  margin 0
  color #000
  display flex
  align-items center
  justify-content center