.basketContainer
  width 1000px
  margin-left 100px
  img
    width 100px
.basketRow
  display grid
  grid-template-columns 108px 150px 150px repeat(3, 200px)
  grid-gap 15px
  font-size 12px
  align-items center
  margin-bottom 15px
.firstRow
  background-color #7bd9c8
  height 50px
.count
  width 100px
  button
    width 30px
    height 30px
    border none
    cursor pointer
    font-size 24px
    color #fff
    font-weight bold
    background-color #6F807C
    border-radius 50%
    line-height 30px
    text-align center
  span
    margin 10px
