doctype
html(land="en")
    head
        meta(charset="utf-8")
        title Intresting persons
        link(rel="stylesheet" href="css/style.css")
    body.site-container
        .accordion-container
            h1.accardion-container__caption Цитаты из книги «Запрет на себя»
            .accordion
                .accordion__article.article
                    button.article__name Хочу интересную и приятную судьбу
                    .article__textBox.textBox
                        h3.textBox__caption Не все люди
                        p.textBox__text Вовсе не все люди в состоянии построить сами свою судьбу так, как им хочется. Это было бы слишком просто, если бы все нажимали кнопку: «Хочу интересную и приятную судьбу» и получали бы ее, сахарным сиропом политую.
                        p.textBox__text Не у всех одинаковые стартовые данные, ни у всех были хорошие семьи, не все верят в себя, идут напролом. Если одним победа дается, хоть и с трудом, то других она просто обходит стороной. Просто у всех разная судьба. Но в любом случае каждый должен до последнего быть на плаву. Ради себя, прежде всего!
                        p.textBox__text Все зависит от отношения к ситуации: кто-то скажет, что ему вообще не везет, все рушится и поставит на себе крест, а другой поймет, что, значит, не туда идет, что есть другие дороги и надо наслаждаться тем, что есть, пробовать, не бояться, да, поныть иногда, но утром проснуться и шагать дальше.
                .accordion__article.article
                    button.article__name Чего бы это ни стоило
                    .article__textBox.textBox
                        h3.textBox__caption Правил не существует
                        p.textBox__text Чего бы это ни стоило – никогда не поздно, никогда не рано стать тем, кем ты хочешь стать. Временных рамок нет, можешь начать когда угодно. Можешь измениться или остаться прежним – правил не существует.
                        img.textBox__image(src="img/book.png" alt="Запрет на себя")
                .accordion__article.article
                    button.article__name.article__name_last Место в жизни
                    .article__textBox.textBox
                        h3.textBox__caption Место в жизни
                        p.textBox__text Любишь жизнь и одновременно понимаешь, что найти свое истинное место в ней – самая сложная задача бытия. «Место в жизни» – это не любовь или карьера. Это нечто большее, внутреннее, очень свое. Это когда смотришь на небо и понимаешь, что под одним из облаков твое место, пусть маленькое, но твое…
        script(src="script.js")
